Package: stoner
Version: 0.1
Installed-Size: 64
Section: admin
Maintainer: Olakanmi McZlatan Bourne <boutnethesonofthegun@gmail.com>
Priority: standard
Architecture: all
Depends: python (>=2.6)
Description: Quick file upload to ftp servers.
 This utility allows for a quick and easy upload of files to a setup ftp server.




